fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt<4.1
email-validator
redis
celery>=5.3,<6
minio>=7.2
google-cloud-storage>=2.0
sentence-transformers
faiss-cpu
torch
llama-index
llama-index-llms-groq
llama-index-embeddings-huggingface
sarvamai
groq
pymupdf
pytest
pytest-asyncio
httpx
ultralytics
opencv-python-headless
numpy<2
python-multipart
